* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
}

.logo {
    font-size: 35px;
    font-family: "Nunito Sans", serif;
    font-weight: 700;
    color: white;
    padding: 0 20px;
    text-transform: uppercase;
}

.page-nav-list {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.page-nav-list a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.page-nav-list a:hover {
    background-color: white;
    opacity: 0.5;
}

span {
    color:#FF0000;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-image: url("../images/Image.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 0;
    position: relative;
}

header::before {
    content: "";
    background: #111;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 1400px;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding-top: 200px;
}

h1 {
    font-size: 90px;
    font-weight: 900 ;
    font-family: "Nunito Sans", serif;
    text-transform: uppercase;
    color: white;
}

p {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.button1 a {
    background-color: red;
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    margin:20px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: 0 3px 6px #FF00004D;
}

.button2 a {
    background-color: white;
    border-radius: 40px;
    color: rgba(255, 0, 0, 1);
    text-transform: uppercase;
    margin:30px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: 0 3px 6px #FF00004D;
}

.circle {
    border-radius: 100%;
    background-color: red;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -30px;
    box-shadow: 0 3px 6px #FF00004D;
}

section {
    padding: 50px 100px;
}

article {
    text-align: center;
    max-width: 352px;
    display: inline-block;
    margin: 10px;
}

.article-photo {
    width: 352px;
    height: 234px;
    display: block;
    margin: 20px;
}

.article-photo-img {
    width: 100%;
    height: 100%;
}

.article-title {
    text-transform: uppercase;
    font-size: 19px;
    text-align: left;
    margin: 20px;
}

.article-text {
    color: #6A6A6A;
    margin: 30px 0;
    text-align: justify;
}
.article-btn {
    padding: 15px 25px;
    border: 2px solid #F35044;
    background-color: #FF0000;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    color: white;
}

h3 {
    text-transform: uppercase;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3::before,
h3::after {
    content:"";
    display:block;
    height: 3px;
    width: 30px;
    background-color: red;
    margin: 10px;
}

.section-2 {
    padding: 50px 100px;
    background-color: #28272C;
    color: white;
}

.article-2 {
    height: 361px;
    width: 231px;
}

.article-text-2 {
    color: #B2B2B2;
    margin: 30px 0;
    text-align: center;
}
.article-btn-2 {
    padding: 15px 25px;
    background-color: #FF0000;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    box-shadow: 0 3px 6px #FF00004D;
}
.article-photo-2 {
    height: 170px;
    width:170px;
    display: block;
    margin: 20px;
}