/* Tools */
* {
    box-sizing: border-box;
}
:root {
    --font-primary: 'Nunito Sans', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --color-primary: 255, 0, 0;
    --color-black: 0, 0, 0;
    --color-gray40: 40, 39, 44;
    --color-gray106: 106, 106, 106;
    --color-gray178: 178, 178, 178;
    --color-gray209: 209, 209, 209;
    --color-white: 255, 255, 255;
}
.container {
    margin: 0 auto;
    max-width: 1088px;
}
/* General */
body {
    font-family: var(--font-primary);
}
a {
    color: rgb(var(--color-white));
    text-decoration: none;
}
.btn {
    background-color: rgb(var(--color-primary));
    border: none;
    border-radius: 40px;
    box-shadow: 0 3px 6px rgba(var(--color-primary), 0.3);
    color: rgb(var(--color-white));
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 11px 29px;
    text-transform: uppercase;
}
.btn--big {
    font-size: 16px;
    line-height: 22px;
    padding: 22px 55px;
}
.btn--white {
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-primary));
}
/* Main */
main {
    background-image: url('../images/Image.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 22px);
    position: relative;
    width: 100%;
}
main::before {
    background-color: rgba(var(--color-black), 0.3);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
nav {
    background-color: rgba(var(--color-black), 0.4);
    border: 2px solid rgba(var(--color-white), 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}
nav .logo span {
    vertical-align: middle;
}
nav .logo span:first-of-type {
    color: rgb(var(--color-primary));
}
nav li {
    display: inline-block;
}
nav li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 33px 40px;
    text-transform: uppercase;
    transition: 0.2s;
}
nav li a:hover {
    background-color: rgba(var(--color-white), 0.2);
}
header {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}
h1 {
    color: rgb(var(--color-white));
    font-size: 90px;
    font-weight: 900;
    line-height: 90px;
    text-shadow: 0 3px 6px rgba(var(--color-white), 0.25);
    text-transform: uppercase;
}
header p {
    color: rgb(var(--color-white));
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin: 27px 0 54px 0;
}
header .btn--white {
    box-shadow: none;
    margin-left: 25px;
}
.invite-arrow {
    background-color: rgb(var(--color-primary));
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(var(--color-primary), 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -22px;
    left: calc(50% - 22px);
    height: 55px;
    width: 55px;
}
/* Sections - General */
section {
    padding: 60px 0 100px 0;
}
h2 {
    color: rgb(var(--color-black));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}
h2::before, h2::after {
    background-color: rgb(var(--color-primary));
    box-shadow: 0 1px 6px rgba(var(--color-primary), 0.3);
    content: "";
    display: inline-block;
    height: 3px;
    margin: 0 10px;
    width: 50px;
}
section .columns {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 35px;
}
h3 {
    color: rgb(var(--color-gray106));
    font-size: 19px;
    line-height: 26px;
    text-transform: uppercase;
}
article {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    flex-basis: 100%;
}
article > * {
    margin-top: 15px;
}
article > *:first-child {
    margin-top: 0;
}
article p {
    color: rgb(var(--color-gray106));
    font-family: var(--font-secondary);
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: auto;
}
/* Sections - Blog */
.section-blog img {
    width: 100%;
}
.section-blog h3 {
    margin-top: 25px;
}
.section-blog article {
    margin-left: 16px;
}
.section-blog article:first-child {
    margin-left: 0;
}
/* Sections - Service */
.section-service {
    background-color: rgb(var(--color-gray40));
}
.section-service article {
    align-items: center;
    margin-left: 32px;
}
.section-service article:first-child {
    margin-left: 0;
}
.section-service h2 {
    color: rgb(var(--color-white));
}
.section-service img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
}
.section-service h3 {
    color: rgb(var(--color-white));
}
.section-service p {
    color: rgb(var(--color-gray178));
    font-weight: 400;
    text-align: center;
}
/* Sections - Contact */
.section-contact .columns {
    justify-content: center;
    align-items: flex-start;
}
.section-contact .columns > * {
    width: 444px;
}
form {
    display: flex;
    flex-flow: column;
    margin-left: 16px;
}
form > * {
    margin-top: 20px;
}
form > *:first-child {
    margin-top: 0;
}
input, textarea {
    border: 1px solid rgb(var(--color-gray209));
    border-radius: 8px;
    color: rgb(var(--color-black));
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 22px;
    padding: 8px 12px;
    transition: 0.2s;
}
textarea {
    height: 140px;
    resize: none;
}
input:focus, textarea:focus {
    border-color: rgb(var(--color-primary));
    box-shadow: 0 1px 6px rgba(var(--color-primary), 0.3);
}
input::placeholder, textarea::placeholder {
    color: rgb(var(--color-gray178));
}
label {
    color: rgb(var(--color-gray178));
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-secondary);
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
}
input[type="checkbox"] {
    appearance: none;
    border: 1px solid rgb(var(--color-gray209));
    border-radius: 8px;
    box-shadow: none;
    flex: 1 0 auto;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    position: relative;
}
input[type="checkbox"]:checked::after {
    content: "";
    background-image: url('../images/Icon Check.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
form .btn {
    align-self: flex-end;
    border: 1px solid rgb(var(--color-primary));
    padding-left: 55px;
    padding-right: 55px;
}
/* Footer */
footer {
    background-color: rgb(var(--color-gray40));
    padding: 40px 0;
}
footer .logo {
    font-size: 25px;
    font-weight: 800;
    line-height: 34px;
    text-transform: uppercase;
}
footer .logo span {
    vertical-align: middle;
}
footer .logo span:first-of-type {
    color: rgb(var(--color-primary));
}
footer .columns {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
footer ul {
    margin-left: 141px;
}
footer ul:first-of-type {
    margin-left: 0;
}
footer li {
    margin-top: 7px;
}
footer li:first-child {
    margin-top: 0;
}
footer .columns a {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    transition: 0.2s;
}
footer .columns a:hover {
    color: rgb(var(--color-primary));
}
.copyright {
    align-self: flex-end;
    color: rgb(var(--color-gray209));
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-left: auto;
}